<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=role%> SignUp </title>
</head>
<body>
    <form action="/<%=role%>login" method="post">
        <h1>Welcome </h1>
        
        <label for="collage">Collage</label><br>
                <input name="collage" type="text" placeholder="collage name" required><br>
                <label for="phone">Phone no</label><br>
                <input type="number" name="phone"><br>
                <label for="email">Email</label><br>
                <input name="email" type="email" required><br>
                <label for="<%=role=='student'?'EnrollmentNo':'EmploymentId'%>"><%=role=='student'?'EnrollmentNo':'Employment Id'%></label><br>
                <input type="text" name="<%=role=='student'?'EnrollmentNo':'EmploymentId'%>" ><br>
                <label for="password">Password</label><br>
                <input name="password" type="password" required><br>
                <label for="password">Confirm Password</label><br>
                <input name="password" type="password" required placeholder="password"><br><br>
                <button type="submit">Sign Up</button>
        <div class="other">
            <p>Already have an account? <a href="/login/<%=role%>login" >login</a></p>
        </div>
    </form>
</body>
</html>